@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

html {
  height: 100vh;
  background: #f8f8f8;
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.header-main {
  background: rgb(185, 134, 187);
  background-image: linear-gradient(to bottom right, #03045e, #0096c7);
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 60px;
  justify-content: space-between;
}

.header-main-logo {
  width: fit-content;
  height: 100%;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.header-main-logo img {
  height: 50px;
  align-self: center;
  transition: 0.5s;
}

.header-main-logo img:hover {
  opacity: 0.5;
}

.header-main-nav {
  width: fit-content;
  height: 100%;
  overflow: hidden;
}

.header-main-nav ul {
  list-style: none;
  margin-left: 30px;
  float: left;
}

.header-main-nav ul li {
  display: inline;
  float: left;
  margin-right: 20px;
  transition: 0.5s;
}

.header-main-nav ul li:hover {
  background-color: #111;
}

.header-main-nav ul li a {
  color: white;
  padding: 0px 10px;
  font-family: Helvetica, sans-serif;
  line-height: 60px;
}

.header-main-signup {
  width: fit-content;
  height: 100%;
  padding-right: 30px;
  align-items: centers;
  overflow: hidden;
}

.header-main-signup ul {
  list-style: none;
}

.header-main-signup ul li {
  display: inline;
  float: left;
  margin: 0px 10px;
  padding: 0px;
  transition: 0.5s;
}

.header-main-signup ul li:hover {
  background-color: #111;
}

.header-main-signup ul li:active {
  opacity: 0.8;
}

.header-main-signup ul li a {
  color: white;
  font-family: Helvetica, sans-serif;
  padding: 0px 10px;
  line-height: 60px;
}
